name: Synchronize Translations

on:
  workflow_dispatch: 
    
permissions:
  contents: write
  pull-requests: write

jobs:
  crowdin:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Synchronize with Crowdin
        uses: crowdin/github-action@v2
        with:
          upload_sources: false
          upload_translations: true
          download_translations: true
          localization_branch_name: i18n-update-crowdin

          create_pull_request: true
          pull_request_title: 'Updated Translations'
          pull_request_body: 'New translations are available from [Crowdin](https://crowdin.com/project/ameko)'
          pull_request_base_branch_name: 'master'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}